Do pip install summarytools in Anaconda prompt

In [1]:
import pandas as pd

In [2]:
from summarytools import dfSummary

In [3]:
df = pd.read_csv('C:/Users/keset/Downloads/Demo_sales_data.csv')

In [4]:
dfSummary(df)

In [5]:
df.info() # Data type and non-missing values shown well

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2587 entries, 0 to 2586
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         2587 non-null   int64
 1   Order ID       2587 non-null   object
 2   Order Date     2587 non-null   object
 3   Ship Date      2587 non-null   object
 4   Ship Mode      2587 non-null   object
 5   Customer ID    2587 non-null   object
 6   Customer Name  2587 non-null   object
 7   Segment        2587 non-null   object
 8   Country        2587 non-null   object
 9   City           2587 non-null   object
 10  State          2587 non-null   object
 11  Postal Code    2587 non-null   int64
 12  Region         2587 non-null   object
 13  Product ID     2587 non-null   object
 14  Category       2587 non-null   object
 15  Sub-Category   2587 non-null   object
 16  Product Name   2587 non-null   object
 17  Sales          2587 non-null   float64
 18  Quantity       2587 non-null   int64
 19  Discount       2587 non-null   float64
 20  Profit         2587 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 424.6+ KB

In [7]:
df.describe() # Summary is useful but distribution is not shown and this is for numerical variables only

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,2587.000000,2587.000000,2587.000000,2587.000000,2587.000000,2587.000000
mean,4939.622729,54504.607654,235.487383,3.802474,0.154743,31.617793
std,2953.181324,32214.742692,668.217591,2.201917,0.203643,280.780876
min,1.000000,1752.000000,0.840000,1.000000,0.000000,-6599.980000
25%,2233.500000,22153.000000,17.940000,2.000000,0.000000,1.875000
50%,4988.000000,53711.000000,52.680000,3.000000,0.200000,8.740000
75%,7416.500000,90004.000000,208.070000,5.000000,0.200000,28.860000
max,9987.000000,99207.000000,17499.950000,14.000000,0.800000,8399.980000

In [17]:
df.Segment.value_counts() # You can calculate frequency of categorical variables one by one

Consumer       1328
Corporate       793
Home Office     466
Name: Segment, dtype: int64

In [18]:
df.groupby('Segment').count() # Count all columns by a column

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Segment,,,,,,,,,,,,,,,,,,,,
Consumer,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328
Corporate,793,793,793,793,793,793,793,793,793,793,793,793,793,793,793,793,793,793,793,793
Home Office,466,466,466,466,466,466,466,466,466,466,466,466,466,466,466,466,466,466,466,466

In [19]:
df.groupby(['Segment','City']).count() # Count two columns

                        Row ID  Order ID  Order Date  Ship Date  Ship Mode  \
Segment     City
Consumer    Alexandria       1         1           1          1          1
            Allentown        2         2           2          2          2
            Amarillo         5         5           5          5          5
            Anaheim         12        12          12         12         12
            Andover          4         4           4          4          4
...                        ...       ...         ...        ...        ...
Home Office Vancouver        1         1           1          1          1
            Washington       1         1           1          1          1
            Waynesboro       3         3           3          3          3
            Westfield        3         3           3          3          3
            Yuma             1         1           1          1          1

                        Customer ID  Customer Name  Country  State  \
Segment     City
Consumer    Alexandria            1              1        1      1
            Allentown             2              2        2      2
            Amarillo              5              5        5      5
            Anaheim              12             12       12     12
            Andover               4              4        4      4
...                             ...            ...      ...    ...
Home Office Vancouver             1              1        1      1
            Washington            1              1        1      1
            Waynesboro            3              3        3      3
            Westfield             3              3        3      3
            Yuma                  1              1        1      1

                        Postal Code  Region  Product ID  Category  \
Segment     City
Consumer    Alexandria            1       1           1         1
            Allentown             2       2           2         2
            Amarillo              5       5           5         5
            Anaheim              12      12          12        12
            Andover               4       4           4         4
...                             ...     ...         ...       ...
Home Office Vancouver             1       1           1         1
            Washington            1       1           1         1
            Waynesboro            3       3           3         3
            Westfield             3       3           3         3
            Yuma                  1       1           1         1

                        Sub-Category  Product Name  Sales  Quantity  Discount  \
Segment     City
Consumer    Alexandria             1             1      1         1         1
            Allentown              2             2      2         2         2
            Amarillo               5             5      5         5         5
            Anaheim               12            12     12        12        12
            Andover                4             4      4         4         4
...                              ...           ...    ...       ...       ...
Home Office Vancouver              1             1      1         1         1
            Washington             1             1      1         1         1
            Waynesboro             3             3      3         3         3
            Westfield              3             3      3         3         3
            Yuma                   1             1      1         1         1

                        Profit
Segment     City
Consumer    Alexandria       1
            Allentown        2
            Amarillo         5
            Anaheim         12
            Andover          4
...                        ...
Home Office Vancouver        1
            Washington       1
            Waynesboro       3
            Westfield        3
            Yuma             1

[496 rows x 19 columns]

In [21]:
df.groupby(['Segment','City'])['City'].count() # Count two columns but display count for only one column

Segment      City
Consumer     Alexandria     1
             Allentown      2
             Amarillo       5
             Anaheim       12
             Andover        4
                           ..
Home Office  Vancouver      1
             Washington     1
             Waynesboro     3
             Westfield      3
             Yuma           1
Name: City, Length: 496, dtype: int64

In [31]:
df['freq']=df.groupby('Segment')['Segment'].transform('count') # add a frequency column for total count of column categories. May help to calculate relative frequency
df.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,freq
0,1,CA-2016-152156,08/11/2021,11/11/2021,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.91,1328
1,2,CA-2016-152156,08/11/2021,11/11/2021,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.58,1328